<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0 dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><i class="fab fa-whmcs"></i></span>
            Acciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">1º Trimestre</button>
            <button class="btn btn-sm btn-outline-secondary">2º Trimestre</button>
            <button class="btn btn-sm btn-outline-secondary">3º Trimestre</button>
        </div>
        
    </div>
</div>

{{>resumen-ano}}

<div class="row d-flex justify-content-between align-items-center p-3">
    <div class="col-xs-12">
        <h2>
            Movimientos
            <small class="text-muted">Año {{ano.ano}}</small>
        </h2>
    </div>
</div>


{{>tabla-movimientos}}


<div class="card w-100">
    <div class="card-header">
        <h3>Añadir Movimiento</h3>
    </div>
    <div class="card-body">
        <form id="addMovimiento">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="seleccionfecha">Fecha</label>
                    <div class="input-group date" id="seleccionfecha" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#seleccionfecha" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#seleccionfecha"
                            placeholder="Fecha" id="fecha" name="fecha" />

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="concepto">Concepto</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-receipt"></i></span></div>
                        <input type="text" class="form-control" id="concepto" placeholder="Concepto" name="concepto">

                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="cantidad">Cantidad</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                        <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                    </div>
                    <select id="categoria" class="form-control custom-select" name="categoria">
                        <option selected disabled>Elegir...</option>
                        <optgroup label="Gastos">
                            {{#each categorias}}
                            {{#unless ingreso}}
                            <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                            </option>
                            {{/unless}}
                            {{/each}}
                        </optgroup>
                        <optgroup label="Ingresos">
                            {{#each categorias}}
                            {{#if ingreso}}
                            <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                            </option>
                            {{/if}}
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-row mt-4 justify-content-end">
                <button type="button" class="btn btn-danger " id="limpiar-movimiento">Limpiar</button>
                <button type="submit" class="btn btn-primary ml-2" id="guardar-movimiento" data-id="{{ano._id}}"
                    data-fecha="01/01/{{ano.ano}}">Guardar</button>
            </div>
        </form>
    </div>
</div>