<h2 class="p-2">
    Movimientos
    <small class="text-muted">Año {{ano.ano}}</small>
</h2>
<div class="row">
    <table class="table table-striped  movimientos">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Concepto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Código Categoria</th>
            </tr>
        </thead>
        <tbody id="cuerpotabla">
            {{#each movimientos}}
            <tr>
                <td>{{formateaFecha fecha}}</td>
                <td>{{concepto}}</td>
                <td>{{cantidad}}€</td>
                <td>{{categoria.codigo}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
<div class="row">
    <div class="card w-100">
        <div class="card-header">
            <h3>Añadir Movimiento</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="seleccionfecha">Fecha</label>
                        <div class="input-group date" id="seleccionfecha" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#seleccionfecha"
                                placeholder="Fecha" id="fecha" />
                            <div class="input-group-append" data-target="#seleccionfecha" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="concepto">Concepto</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="concepto" placeholder="Concepto">
                            <div class="input-group-append"><span class="input-group-text"><i class="fas fa-receipt"></i></span></div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cantidad">Cantidad</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cantidad" placeholder="Cantidad">
                            <div class="input-group-append">
                                <span class="input-group-text">€</span>
                                <span class="input-group-text">0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <div class="input-group">
                        <select id="categoria" class="form-control custom-select">
                            <option selected disabled>Elegir...</option>
                            <optgroup label="Ingresos">
                                {{#each categorias}}
                                {{#if ingreso}}
                                <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                                </option>
                                {{/if}}
                                {{/each}}
                            </optgroup>
                            <optgroup label="Gastos">
                                {{#each categorias}}
                                {{#unless ingreso}}
                                <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                                </option>
                                {{/unless}}
                                {{/each}}
                            </optgroup>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4 justify-content-end">
                    <button type="button" class="btn btn-danger " id="limpiar-movimiento">Limpiar</button>
                    <button type="submit" class="btn btn-primary ml-2" id="guardar-movimiento" data-id="{{ano._id}}"
                        data-ano="{{ano.ano}}">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>