<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0 dropdown">
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/anos/new" class="btn btn-sm btn-outline-secondary"><span><i class="fas fa-plus"></i></span> Añadir Año</a>
        </div>
        
    </div>
</div>
<div class="row">
    {{#each listaAnos}}
    <div class="card shadow text-center col-md-10 mx-auto mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-3 align-self-center">
                    <h3 class="card-title text-info">Año {{ano}}</h3>
                    <a href="/movimientos/{{ano}}" class="btn btn-outline-primary btn-block btn-sm">Acceder</a>
                    <a href="/anos/edit/{{ano}}" class="btn btn-outline-danger btn-block btn-sm">Editar</a>
                </div>
                <div class="col-9">
                    <canvas id="graficoAno{{ano}}" class="graficos-resumen" width="100" height="60" data-ano="{{ano}}" aria-label="Grafico de Gastos"></canvas>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>