<div class="card w-100">
    <div class="card-header">
        <h3>Editar Movimiento</h3>
    </div>
    <div class="card-body">
        <form action="/movimientos/{{movimiento.anoId}}/edit/{{movimiento.id}}?_method=PUT" id="editMovimiento" method="POST">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="seleccionfecha">Fecha</label>
                    <div class="input-group date" id="seleccionfecha" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#seleccionfecha" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#seleccionfecha"
                            placeholder="Fecha" id="fecha" name="fecha"/>

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="concepto">Concepto</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-receipt"></i></span></div>
                        <input type="text" class="form-control" id="concepto" placeholder="Concepto" name="concepto" value="{{movimiento.concepto}}">

                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="cantidad">Cantidad</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                        <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad" value="{{movimiento.cantidad}}">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
                    </div>
                    <select id="categoria" class="form-control custom-select" name="categoria">
                        {{#if movimiento.categoriaId}}
                        <option class="opciones" data-id="{{movimiento.categoriaId}}">
                            {{movimiento.categoriaCodigo}} - {{movimiento.categoriaNombre}}
                            </option>
                        {{else}}
                        <option selected disabled>Elegir...</option>
                        {{/if}}
                        <optgroup label="Gastos">
                            {{#each categorias}}
                            {{#unless ingreso}}
                            <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                            </option>
                            {{/unless}}
                            {{/each}}
                        </optgroup>
                        <optgroup label="Ingresos">
                            {{#each categorias}}
                            {{#if ingreso}}
                            <option class="opciones" data-id="{{_id}}">{{codigo}} - {{nombre}}
                            </option>
                            {{/if}}
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
            </div>
            <input type="hidden" name="_method" value="PUT">
            <div class="form-row mt-4 justify-content-end">
                <button type="button" class="btn btn-danger " id="limpiar-movimiento">Limpiar</button>
                <button type="submit" class="btn btn-primary ml-2" id="guardar-movimiento" data-id="{{ano._id}}"
                    data-fecha="{{formateaFecha movimiento.fecha}}">Editar</button>
            </div>
        </form>
    </div>
</div>