<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item ">
                <a href="#categoriasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link {{esActivo '/categorias' path}}">
                    Categorias
                </a>
                <ul class="collapse list-unstyled {{seleccionaShow '/categorias' path}}" id="categoriasSubmenu">
                    <li class="nav-item ml-2">
                        <a class="nav-link py-0" href="/categorias">Todas las Categorias</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link py-0" href="/categorias/add">Añadir Categoria</a>
                    </li>
            </ul>
            </li>
            <li class="nav-item">
                <a href="#movimientosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link {{esActivo '/movimientos' path}}">Movimientos</a>
                <ul class="collapse list-unstyled {{seleccionaShow '/movimientos' path}}" id="movimientosSubmenu">
                    {{#each listaAnos}}
                    <li class="nav-item ml-2">
                    <a class="nav-link py-0" href="/movimientos/{{ano}}">{{ano}}</a>
                    </li>
                    {{/each}}
            </ul>
            </li>
            <li class="nav-item">
                <a href="#anosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link {{esActivo '/anos' path}}">Años</a>
                <ul class="collapse list-unstyled {{seleccionaShow '/anos' path}}" id="anosSubmenu">
                <li class="nav-item ml-2"><a class="nav-link py-0"  href="/anos">Todos los Años</a></li>
                <li class="nav-item ml-2"><a class="nav-link py-0"  href="/anos/new">Añadir Año</a></li>
                </ul>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Otros</span>
            <a class="d-flex align-items-center text-muted" href="#">

            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">

                    Current month
                </a>
            </li>
        </ul>
    </div>
</nav>