<div class="d-flex justify-content-between align-items-center py-2">
    <h2>
        Resumen
        <small class="text-muted">Año {{ano.ano}}</small>
    </h2>
</div>
<div class="card-deck text-center mb-3" id="resumenCards">
    <div class="card border-info">
        <div class="card-header bg-light">
            <h5 class="card-title">Saldo Inicial</h5>
        </div>
        <div class="card-body">
            <p class="card-text text-info" id="resumenSaldoInicial">{{#if ano}}{{ano.saldoinicial}}{{else}}0{{/if}} €</p>
        </div>
    </div>
    <div class="card border-success">
        <a class=" text-decoration-none" href="/movimientos/{{ano.ano}}/ingresos">
            <div class="card-header bg-light">
                <h5 class="card-title text-body">Total Ingresos</h5>
            </div>
            <div class="card-body">

                <p class="card-text text-success text-bold" id="resumenTotalIngresos">{{#if
                    resumen.totalIngresos}}{{resumen.totalIngresos}}{{else}}0{{/if}} €</p>
            </div>
        </a>
    </div>
    <div class="card border-danger">
        <a class="text-decoration-none" href="/movimientos/{{ano.ano}}/gastos">
            <div class="card-header bg-light">
                <h5 class="card-title text-body">Total Gastos</h5>
            </div>
            <div class="card-body">
                <p class="card-text text-danger" id="resumenTotalGastos">{{#if
                    resumen.totalGastos}}{{resumen.totalGastos}}{{else}}0{{/if}} €</p>
            </div>
        </a>
    </div>

    <div class="card border-info">
        <div class="card-header bg-light">
            <h5 class="card-title">Saldo Actual</h5>
        </div>
        <div class="card-body">
            <p class="card-text text-info" id="resumenSaldoActual">{{#if
                resumen.saldoActual}}{{resumen.saldoActual}}{{else}}0{{/if}} €</p>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <canvas id="myChart" width="100" height="70" data-ano="{{ano.ano}}" aria-label="Grafico de Gastos"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="graficoDos" width="100" height="70" data-ano="{{ano.ano}}" aria-label="Grafico de Ingresos"></canvas>
    </div>     
</div>