<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm movimientos">
            <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            </colgroup>
            <thead class="thead-dark text-center">
            <tr>
                <th class="" scope="col">Fecha</th>
                <th class="d-none d-lg-table-cell" scope="col">Concepto</th>
                <th class="px-2" scope="col">Cantidad</th>
                <th class="" scope="col">Código<br>Categoria</th>
                <th class="" scope="col"></th>
            </tr>
        </thead>
        <tbody id="cuerpotabla">
            {{#if detalleMovimientos}}
                {{#each movimientos}}
                {{#if ../ingresos}}
                    {{#if categoria.ingreso}}
                    <tr>
                        <td class="text-center">{{formateaFecha fecha}}</td>
                        <td class="d-none d-lg-table-cell">{{concepto}}</td>
                        <td {{#unless categoria.ingreso}} class="text-left text-danger" {{else}} class="text-right text-success"
                            {{/unless}}>{{cantidad}}€</td>
                        <td class="text-center">{{categoria.codigo}}</td>
                        <td class="text-center"><a href="/movimientos/{{../ano.ano}}/edit/{{id}}">
                                <span>
                                    <i class="fas fa-edit text-primary"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                {{else}}
                    {{#unless categoria.ingreso}}
                    <tr>
                        <td class="text-center">{{formateaFecha fecha}}</td>
                        <td class="d-none d-lg-table-cell">{{concepto}}</td>
                        <td {{#unless categoria.ingreso}} class="text-left text-danger" {{else}} class="text-right text-success"
                            {{/unless}}>{{cantidad}}€</td>
                        <td class="text-center">{{categoria.codigo}}</td>
                        <td class="text-center"><a href="/movimientos/{{../ano.ano}}/edit/{{id}}">
                                <span>
                                    <i class="fas fa-edit text-primary"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {{/unless}}
                {{/if}}
                {{/each}}
            {{else}}
                {{#each movimientos}}
                <tr>
                    <td class="text-center">{{formateaFecha fecha}}</td>
                    <td class="d-none d-lg-table-cell">{{concepto}}</td>
                    <td {{#unless categoria.ingreso}} class="text-left text-danger" {{else}} class="text-right text-success"
                        {{/unless}}>{{cantidad}}€</td>
                    <td class="text-center">{{categoria.codigo}}</td>
                    <td class="text-center"><a href="/movimientos/{{../ano.ano}}/edit/{{id}}">
                            <span class="px-2">
                                <i class="fas fa-edit text-primary"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>